*.xml
*~
gene_*
default.log
bin
GENE.finished
obj_*
ITGTEM_*
host.list
l_ssc_*
st0?_*
stell0?
scaltest0?
*.aux
*.toc
*.log
*.pyc
__pycache__
prob??
*.info
nx0_scan_*
codemods.F90
.oldrun.npz
!gene_gui.py
