---
Checks: >
  -*,
  bugprone-*,
  -bugprone-argument-comment,
  -bugprone-easily-swappable-parameters,
  -bugprone-macro-parentheses,
  -bugprone-narrowing-conversions,
  -bugprone-suspicious-include,
  cppcoreguidelines-pro-type-cstyle-cast,
  cppcoreguidelines-rvalue-reference-param-not-moved,
  modernize-type-traits,
  modernize-use-nullptr,
  modernize-use-using

WarningsAsErrors: '*'
# capi and fortran api headers are c headers and clang-tidy produces not useful errors
ExcludeHeaderFilterRegex: '.*(capi|fortranapi|pythonapi).*'
# skip c, fortran, and interface creation files
# this is actually needed by run-clang-tidy, so it cannot be included here :(
#ExcludeSourceFilterRegex: '\.(c|i|f90)$'
FormatStyle:         none
InheritParentConfig: true
