name: Globus-Systems
on:
  push:
  schedule:
    - cron: '12 14 * * 3' 

jobs:
  perlmutter-test:
    uses: SCOREC/github-actions/.github/workflows/globus-test.yml@main
    secrets: inherit
    with:
      machine: "perlmutter"