name: Update Doxygen Page

on:
  push:
    branches: 
      - develop

jobs:
  doxygen:
    runs-on: ubuntu-latest
    permissions:
        contents: read
        pages: write
        id-token: write

    steps:

    - name: Install Doxygen
      run: |
        sudo apt-get update
        sudo apt-get install doxygen

    - name: Checkout Original
      uses: actions/checkout@v4

    - name: Run Doxygen
      run: doxygen

    - name: Upload artifact
      uses: actions/upload-pages-artifact@v3
      with:
        path: ./html

    - name: Deploy to GitHub Pages
      id: deployment
      uses: actions/deploy-pages@v4